@import 'main.less';

main {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  background: white;
}

#avater {
  .image-size;
  border-radius: 100px;
  position: relative;
  margin-top: -75px;
}

#header {
  margin-left: 5%;
  text-align: center;
}

#aboutMe {
  padding-top: 20px;
  margin-left: 30px;
}

#description {
  margin-top: 15px;
}

#education {
  margin-left: 30px;
  padding-top: 20px;
}

#block {
  display: inline-block;
  background: @gray;
  padding: 3px 5px 5px 5px;
  width: 900px;
}

#year {
  margin-right: 50px;
  vertical-align: top;
  font-weight: bold;
  font-size: 13px;
}

h4 {
  margin-top: 0px;
  font-size: 15px;
}

#educationList {
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
}
